{% extends 'base.html' %}

{% block content %}
{% block extra_styles %}
<style>
    /* Устанавливаем фон для всего тела документа */
    

        .match-card,
        .standings-card,
        .news-card {
            background-color: white;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        }

        .team-logo {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }

        .news-card img {
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
        }
</style>
{% endblock %}

    <div class="container mt-4">
        <h1 class="text-center mb-4">Матчи и турнирная таблица для {{ league_name }}</h1>
        <p class="text-center">Дата: {{ selected_date }}</p>
    
        <form action="{% url 'Basket_Matches' id=league_id %}" method="get" class="mb-4">
            <div class="form-group">
                <input type="date" name="date" class="form-control" value="{{ selected_date }}">
                <button type="submit" class="btn btn-primary mt-2">Выбрать дату</button>
            </div>
        </form>
    
        <div class="row">
            <!-- Колонка результатов матчей -->
            <div class="col-md-6">
                {% for Basket_Match in Basket_Matches %}  <!-- Исправьте здесь на matches -->
                <a href="{% url 'BasketMatch_details' league_id=league_id match_id=Basket_Match.id %}" class="match-card-link">
                    <div class="match-card">
                        <div class="row align-items-center">
                            <div class="col-md-4 text-center">
                                <img src="{{ Basket_Match.home_team_logo }}" alt="Логотип {{ Basket_Match.home_team }}" class="team-logo">
                                <p class="mt-2">{{ Basket_Match.home_team }}</p> <!-- Убедитесь, что вы обращаетесь к правильным полям -->
                            </div>
                            <div class="col-md-4 text-center">
                                <p>VS</p>
                                <p>Счёт: {{ Basket_Match.score }}</p> <!-- Используйте score напрямую из модели -->
                            </div>
                            <div class="col-md-4 text-center">
                                <img src="{{ Basket_Match.away_team_logo }}" alt="Логотип {{ Basket_Match.away_team }}" class="team-logo">
                                <p class="mt-2">{{ Basket_Match.away_team }}</p> <!-- Убедитесь, что вы обращаетесь к правильным полям -->
                            </div>
                        </div>
                    </div>
                </a>
                {% empty %}
                <p>Матчей на выбранную дату не найдено.</p>
                {% endfor %}
            </div>
        
        
    
            <!-- Колонка с кнопками и блоками информации -->
            <div class="col-md-6">
                <div id="standings" class="content-block">
                    <h2>Турнирная таблица</h2>
                    
                </div>
                
                <div id="statistics" class="content-block" style="display:none;">
                    <h2>Статистика</h2>
                    <p>Статистика скоро появится.</p>
                </div>
            </div>
    
            <!-- Блок новостей -->
            
        
        {% block extra_scripts %}
        <script src="/static/js/Matches.js"></script>
        <script src="/static/js/LeagueScores.js"></script>
        {% endblock %}
        
{% endblock %}
