{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block extra_styles %}
<style>
    body {
        background-color: aliceblue;
        background-position: center;
    }
    .liga-button {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .news-section {
        padding: 20px;
        background: rgba(255, 255, 255, 0.8); /* Легкая белая подложка для улучшения читаемости */
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}

<div class="container mt-3">
    <div class="row">
        <!-- Блок с выбором лиги -->
        <div class="col-md-6">
            <h2 class="text-black">Лиги</h2>
            {% for liga in leagues %}
            <div class="d-grid gap-2 col-6 mx-auto mb-2">
                <a href="{% url 'Matches' liga.idFootball_liga %}" class="btn btn-primary liga-button">
                    {{ liga.name }} - {{ liga.country }}
                </a>
            </div>
            {% endfor %}
            <h2 class="text-black">Еврокубки</h2>
            {% for cup in euro_cups %}
            <div class="d-grid gap-2 col-6 mx-auto mb-2">
                <a href="{% url 'Matches' cup.idFootball_liga %}" class="btn btn-success liga-button">
                    {{ cup.name }} - {{ cup.country }}
                </a>
            </div>
            {% endfor %}
            <h2 class="text-black">Кубки страны</h2>
            {% for cup in cups %}
            <div class="d-grid gap-2 col-6 mx-auto mb-2">
                <a href="{% url 'Matches' cup.idFootball_liga %}" class="btn btn-info liga-button">
                    {{ cup.name }} - {{ cup.country }}
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- Блок с новостями о футболе -->
        <div class="col-md-6">
            <div class="news-section">
                <h2 class="text-black">Футбольные новости</h2>
                {% if football_news %}
                    {% for news in football_news %}
                        <div class="news-item">
                            <h4>{{ news.title }}</h4>
                            {% if news.image %}
                                <img src="{{ news.image.url }}" alt="{{ news.title }}" style="width:100%; max-height:200px; object-fit:cover;">
                            {% endif %}
                            <p>{{ news.content|truncatewords:30 }}</p>
                            <a href="{% url 'news_detail' news.id %}" class="btn btn-secondary">Подробнее</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Нет доступных футбольных новостей.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

