<!-- templates/football.html -->


{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block extra_styles %}
<style>
    /* Устанавливаем фон для всего тела документа */
    body {
        background-image: url('{% static "/img/football.jpg" %}');
        background-size: cover; /* Заставляет изображение полностью покрывать страницу */
        background-position: center; /* Центрирует изображение на странице */
        background-repeat: no-repeat; /* Предотвращает повторение изображения */
    }
</style>
{% endblock %}
<div class="container mt-3">
    <div class="row">
        <!-- Блок с выбором лиги -->
        <div class="col-md-6">
            <h2 class="text-black">Выберите лигу</h2>
            {% for liga in football_ligas %}
            <div class="d-grid gap-2 col-6 mx-10 mb-2">
                <!-- Обратите внимание на исправленный URL-маршрут 'Matches' -->
                <a href="{% url 'Matches' liga.idFootball_liga %}" class="btn btn-primary btn-block">
                    <div>
                        <span>{{ liga.name }}</span> - <span>{{ liga.country }}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- Блок с новостями о футболе (здесь может быть ваш код для новостей) -->
        <div class="col-md-6">
            <h2>Футбольные новости</h2>
        </div>
    </div>
</div>
{% endblock %}
