{% extends 'base.html' %}
{% load static %}
{% load templatehelpers %}

{% block content %}
{% block extra_styles %}
<style>
.card-img-top {
    width: 100%;
    height: 200px; /* Высота изображения фиксирована */
    object-fit: cover; /* Изображение покрывает элемент полностью */
}

.card {
    margin-bottom: 20px;
}
</style>
{% endblock %}
<div class="container mt-4">
    {% if request.user.is_staff or request.user|has_group:"journalist" %}
        <div class="mb-4">
            <a href="{% url 'create_news' %}" class="btn btn-primary">Создать новость</a>
        </div>
    {% endif %}
    <div class="row">
        {% for news in news_list %}
            <div class="col-md-6">
                <div class="card mb-4">
                    {% if news.image %}
                        <img src="{{ news.image.url }}" class="card-img-top" alt="{{ news.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <a href="{% url 'news_detail' news.id %}" class="btn btn-secondary">Подробнее</a>
                        {% if request.user.is_staff or request.user|has_group:"journalist" %}
                        <a href="{% url 'edit_news' news.id %}" class="btn btn-primary">Редактировать</a>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div><div class="row">
            {% endif %}
        {% empty %}
            <p>Нет новостей для отображения.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
