{% extends 'base.html' %}

{% block extra_styles %}
<style>
    /* Стили для профиля */
    .profile-edit-form {
        display: none;
    }
    .profile-edit-form input,
    .profile-edit-form button {
        margin-top: 10px;
    }
    .profile-section, .recent-matches-section, .tickets-section {
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Личный кабинет</h4>
                </div>
                <div class="card-body">
                    <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Имя:</strong> {{ user.first_name }}</p>
                    <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
                    <p><strong>Группы:</strong></p>
                    <ul>
                        {% for group in user.groups.all %}
                        <li>{{ group.name }}</li>
                        {% endfor %}
                    </ul>
                    <button id="edit-btn" class="btn btn-primary">Редактировать</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tickets-section card">
                <div class="card-header">
                    <h4>Купленные билеты</h4>
                </div>
                <div class="card-body">
                    <h5>Футбольные билеты:</h5>
                    {% if football_tickets %}
                    <ul class="list-group">
                        {% for ticket in football_tickets %}
                        <li class="list-group-item">
                           Матч: {{ ticket.ticket.id_matches.home_team }} vs {{ ticket.ticket.id_matches.away_team }},
                           Дата матча: {{ ticket.ticket.id_matches.match_date|date:"d M Y H:i" }},
                           Тип билета: {{ ticket.ticket.id_type.name }},
                           Количество: {{ ticket.quanty }}
                              
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>Вы пока не купили футбольные билеты.</p>
                    {% endif %}
                    <h5>Хоккейные билеты:</h5>
                    {% if hockey_tickets %}
                    <ul class="list-group">
                        {% for ticket in hockey_tickets %}
                        <li class="list-group-item">
                            {{ ticket.ticket.id_matches.home_team }} vs {{ ticket.ticket.id_matches.away_team }} - 
                            {{ ticket.ticket.id_matches.match_date|date:"d M Y H:i" }} - 
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>Вы пока не купили хоккейные билеты.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="change-password mt-3">
        <button class="btn btn-secondary" onclick="window.location.href='{% url 'password_change' %}'">Изменить пароль</button>
    </div>


<!-- Форма редактирования профиля -->
<div class="container">
    <div class="profile-edit-form card mt-3">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control">
                <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control">
                <input type="email" name="email" value="{{ user.email }}" class="form-control">
                <button type="submit" class="btn btn-success">Сохранить изменения</button>
            </form>
        </div>
    </div>
</div>
</div>
<!-- Раздел для отображения последних матчей -->


{% endblock %}

{% block extra_scripts %}
<script>
    document.getElementById('edit-btn').addEventListener('click', function() {
        var editForm = document.querySelector('.profile-edit-form');
        editForm.style.display = 'block';
        var inputs = editForm.querySelectorAll('input');
        inputs.forEach(function(input) {
            input.disabled = false;
        });
    });
</script>
{% endblock %}
