{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Футбольные матчи</h1>
            {% for match in football_matches %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ match.idFootball_liga.name }}</h5>
                    <p class="card-text">Дата матча: {{ match.id_matches.match_date }}</p>
                    <p class="card-text">Домашняя команда: {{ match.id_matches.home_team }}</p>
                    <p class="card-text">Гостевая команда: {{ match.id_matches.away_team }}</p>
                    <p class="card-text">Цена билета: {{ match.price }}</p>
                    <form action="{% url 'buy_ticket' %}" method="post" id="buyTicketFormFootball_{{ match.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="match_id" value="{{ match.id }}">
                        <div class="form-group">
                            <label for="quantity">Количество билетов:</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="{{ match.quantity }}">
                        </div>
                        <div class="form-group">
                            <label for="payment_method">Выберите метод оплаты:</label>
                            <select class="form-control" id="payment_method_football_{{ match.id }}" name="payment_method">
                                <option value="wallet">Кошелёк</option>
                                <option value="card">Карта</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Купить</button>
                    </form>
                    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}

                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h1>Хоккейные матчи</h1>
            {% for match in hockey_matches %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ match.idHockey_league.name }}</h5>
                    <p class="card-text">Дата матча: {{ match.id_matches.match_date }}</p>
                    <p class="card-text">Домашняя команда: {{ match.id_matches.home_team }}</p>
                    <p class="card-text">Гостевая команда: {{ match.id_matches.away_team }}</p>
                    <p class="card-text">Цена билета: {{ match.price }}</p>
                    <form action="{% url 'buy_ticket' %}" method="post" id="buyTicketFormHockey_{{ match.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="match_id" value="{{ match.id }}">
                        <div class="form-group">
                            <label for="quantity">Количество билетов:</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="{{ match.quantity }}">
                        </div>
                        <div class="form-group">
                            <label for="payment_method">Выберите метод оплаты:</label>
                            <select class="form-control" id="payment_method_hockey_{{ match.id }}" name="payment_method">
                                <option value="wallet">Кошелёк</option>
                                <option value="card">Карта</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Купить</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

